<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title><%= site.data.resources.title %></title>

    <link href="<%- site.data.resources.favicon %>" rel="icon">

    <link rel="stylesheet" href="<%- url_for('css/style.css') %>">

    <script src="<%- url_for('libs/jquery/3.6.0/jquery.min.js') %>"></script>

    <link rel="stylesheet" href="<%- url_for('libs/font-awesome/css/font-awesome.min.css') %>">

</head>
